/*
** Helper Utilities
*/
@import 'helpers/helpers_layout';
@import 'helpers/helpers_colors';
@import 'helpers/helpers_spacing';

.bg-texture{
  background: url("../images/testimonials_bg.jpg") no-repeat center / cover;
}

.tm{
  position: relative;
  &::after{
    content: 'TM';
    position: absolute;
    font-family: 'Poppins', serif;
    font-size: 8px;
    top: 0;
    right: -12px;
    color: $fontColor;
  }
}

.semibold{
  font-weight: 400;
}

.decor-underline{
  text-decoration: underline;
}

.letter-sp-normal{
  letter-spacing: 0;
}

.min-w-100{
  min-width: 100px;
  display: inline-block;
}

.min-w-130{
  min-width: 130px;
  display: inline-block;
}

.font-weight-regular{
  font-weight: 500!important;
}

.lh-30{
  line-height: 30px;
}

.post{
  .underline{
    padding-bottom: 45px;
  }
}

.underline{
  padding-bottom: 30px;
  position: relative;

  &.main2{
    &::after{
      background-color: $colorMain2;
    }
  }

  &::after{
    content:"";
    background-color: $colorMain;
    width: 30px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s ease-in-out;
  }
  &.text-center{
    &::after{
      left: 50%;
      transform: translateX(-50%);
    }
    &.text-lg-left{
      &::after{
        left: 0;
        transform: none;
      }
      @media (max-width: 991px){
        &::after{
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &.text-md-left{
      &::after{
        left: 0;
        transform: none;
      }
      @media (max-width: 767px){
        &::after{
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.top_offset_content [class*="container"] {
  float: left;
  width: 100%;
}

.font-size-normal{
  font-size: 16px!important;
}

.flex-grow-2{
  flex-grow: 2;
}

.opacity-1{
  &:before{
    opacity: 1!important;
  }
}

.color-gradient{
  background: $colorMain3;
  background: linear-gradient(to top, rgba($colorMain3, 1) 0%, rgba($colorMain4, 1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.backg-gradient{
  background: $colorMain;
  background: linear-gradient(to right, rgba($darkColor, 1) 10%, rgba(darken($colorMain, 20%), .9) 70%, rgba($colorMain, .8) 100%);
}

.absolute-img{
  left: 0;
  &.bottom{
    bottom: -3.2%;
  }
  max-width: 52%;

  @media (max-width: 1700px) {
    &.bottom{
      bottom: 50%;
      transform: translateY(50%);
    }
  }
}

.rocket-parallax{
  background-image: url("../images/parallax/rocket_parralax.jpg");
}

.link-underline{
  text-decoration: underline;
}

.hidden-below-xxl{
    @media (max-width: 1800px) {
      display: none;
    }
}

.custom-c{
  background-color: #585fae;
}

.w-40px{
  width: 40px;
}

.cont-padding{
  padding: 45px 48px;
  @media (max-width: 1199px) {
    padding: 35px 40px;
  }
  @media (max-width: 767px) {
    padding: 25px;
  }
}

.overflow-visible{
  @media (max-width: 991px) {
    overflow: hidden!important;
  }
}

.contain{
  background-size: contain;
}

.or{
  margin: 0 15px;
  @media (max-width: 400px) {
    display: block;
    margin: 10px 0;
  }
}

.section-padding{
  padding-top: 70px;
  padding-bottom: 60px;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  .special-heading{
    font-size: 35px;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 50px;
    .special-heading{
      font-size: 30px;
    }
  }
}

.margin-top{
  @media (min-width: 1200px) {
    .row{
      position: relative;
      top: -40px;
    }
  }
}

.container-after-xl-max-w-none{
  @media (max-width: 1200px){
    .container{
      max-width: unset;
    }
  }
}

.font-style-normal{
  font-style: normal;
}

.shadow-hover{
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  transition: all .5s ease-in-out;
  &:hover{
    box-shadow: 0px 0px 0px 1.5em rgba(0, 0, 0, 0);
  }
}

.shadow-hover2{
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  transition: all .5s ease-in-out;
  &:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }
}

.slider-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before{
    content: '';
    position: absolute;
    -webkit-mask: url('../images/mask/angle_00.png') no-repeat top left / contain;
    left: 0;
    top: 0;
    background-color: $lightColor;
    z-index: 3;
    display: inline-block;
    width: 42%;
    height: 40%;
    @media (max-width: 1199px) {
      height: 200px;
      width: 400px;
    }
    @media (max-width: 768px) {
      height: 200px;
      width: 350px;
    }
  }
  &::after{
    content: '';
    position: absolute;
    -webkit-mask: url('../images/mask/angle_01.png') no-repeat right bottom / contain;
    right: 0;
    bottom: 0;
    background-color: $lightColor;
    z-index: 2;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  @media (min-width: 1200px) {
    overflow: visible!important;
    .flexslider{
      overflow: hidden;
    }
    &::after{
      bottom: -3px;
    }
  }
}

.border-img{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    -webkit-mask: url('../img/border-img.png') no-repeat right bottom / contain;
    right: 0;
    left: -10px;
    bottom: -15px;
    background-color: $colorMain2;
    z-index: 2;
    display: inline-block;
    width: 110%;
    height: 27px;
  }
}

.section-on-slider{
  margin-top: -395px;
  @media (max-width: 1399px) {
    margin-top: -110px;
  }
  @media (max-width: 1199px) {
    margin-top: -50px;
  }
}