/*
** 404
*/

.page_404 {
  background-image: url("../img/404.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 179px);
}

.error404 {

  .page-header {
    text-align: center;
    @media (min-width: 768px) {
      text-align: right;
    }
    & > img{
      display: none;
    }
    &.img-only{
      h3, p{
        display: none;
      }
      img{
        display: block;
      }
    }
    h3 {
      font-size: 100px;
      color: $colorMain2;
      font-weight: 900;
      margin-bottom: 15px;
      @media (min-width: 992px) {
        font-size: 120px;
        line-height: 1;
        margin-bottom: 23px;
      }
    }
    p {
      font-size: 30px;
      color: $lightColor;
      font-weight: 300;
      text-transform: capitalize;
      margin-top: 10px;
      display: inline-block;
      @media (max-width: 767px) {
        font-size: 24px;
        text-align: center;
      }
    }
  }

  .page-content{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $lightColor;
    span{
      font-size: 16px;
    }
  }

  .widget_search {
    margin: 0;
    form{
      max-width: 320px;
      input{
        max-width: 100%;
      }
    }

    @media (max-width: 480px) {
      background: transparent;
      width: 100%;
      input{
        width: 100%;
      }
    }
  }

}