//color schemes
//1
$styleNumber: '';
$colorMain: #2c7eff;
$colorMain2: #ffde00;
$colorMain3: #fc7c0b;
$colorMain4: #2bb96a;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;