//color schemes
//4
$styleNumber: '4';
$colorMain: #2bb96a;
$colorMain2: #7a42cf;
$colorMain3: #2c7eff;
$colorMain4: #ffde00;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;