/*
** Color Background Section - .cs
*/
.cs.cs2 {
  background-color: $colorMain2;
  .color-main {
    color: $colorMain;
  }
}

.cs.cs3 {
  background-color: $colorMain3;
  .color-main {
    color: $colorMain4;
  }
}

.cs.cs4 {
  background-color: $colorMain4;
  .color-main {
    color: $colorMain3;
  }
}

/* color section grey - .cs.gs */
.cs.gs {
  background-color: #aaa6a7;
}

.cs.cs-success {
  background-color: $colorSuccess;
}

.cs.cs-info {
  background-color: $colorInfo;
}

.cs.cs-warning {
  background-color: $colorWarning;
}

.cs.cs-danger {
  background-color: $colorDanger;
}

.cs {
  background-color: $colorMain2;
  color: $lightColor;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $lightColor;

    a {
      color: $lightColor;
      &:hover {
        color: rgba($lightColor, 0.6);
      }
    }
  }

  a:not(.btn) {
    color: $lightColor;
    &:hover {
      color: $colorMain;
    }
  }
  blockquote, .blockquote {
    border-color: lighten($colorMain, 10%);
  }
  hr {
    border-color: $colorBorderColor;
  }

  pre {
    color: $lightColor;
  }

  .hero-bg {
    background-color: $colorBackgroundColor;
  }
  .bordered {
    border-color: $colorBorderColor;
  }

  //sections with borders
  &.s-bordertop:before,
  &.s-borderbottom:after,
  &.s-bordertop-container .container:before,
  &.s-borderbottom-container .container:after {
    background-color: $colorBorderColor;

  }
  &.s-bordered-columns {
    [class*='col-'] + [class*='col-']:before {
      background-color: $colorBorderColor;
    }
  }
  .links-darkgrey a,
  .links-grey a {
    color: #aab5c8;
    .text-white{
      opacity: 1;
    }
    &:hover {
      opacity: 1;
      color: $lightColor;
    }
  }

  .color-dark {
    border-color: $lightColor;
    color: $lightColor;
  }

  .color-darkgrey {
    border-color: $darkgreyColor;
    color: $darkgreyColor;
  }
  .response,
  .color-main {
    color: $colorMain2;
  }

  //forms
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="number"],
  textarea,
  select,
  .form-control {
    background-color: transparent;
    border-color: rgba($lightColor, 0.1);
    color: $lightColor;
  }

  .widget_search button:before,
  .widget_mailchimp button:before,
  .widget_product_search form:before{
    color: $lightColor;
  }

  .form-control:focus {
    border-color: rgba($lightColor, 0.5);
  }

  .form-control:-moz-placeholder {
    color: $lightColor;
    opacity: 1;
  }
  .form-control::-moz-placeholder {
    color: $lightColor;
    opacity: 1;
  }

  .form-control:-ms-input-placeholder {
    color: $lightColor;
  }

  .form-control::-webkit-input-placeholder {
    color: $lightColor;
  }
  .form-control:focus:-moz-placeholder {
    color: transparent;
  }
  .form-control:focus::-moz-placeholder {
    color: transparent;
  }

  .form-control:focus:-ms-input-placeholder {
    color: transparent;
  }

  .form-control:focus::-webkit-input-placeholder {
    color: transparent;
  }

  //buttons
  .btn-outline-maincolor{
    color:$colorMain;
  }
  .btn-outline-maincolor2{
    color: $lightColor;
  }
  .btn-outline-maincolor3{
    color:$colorMain3;
  }
  .btn-maincolor,
  .btn-maincolor2,
  .btn-maincolor3,
  .btn-maincolor4,
  .btn-maincolor5{
    &:hover{
      color: $darkgreyColor;
      &::after{
        opacity: 1;
      }
    }
  }
  .btn-darkgrey:hover{
    color: $darkgreyColor;
  }
  .btn-outline-maincolor,
  .btn-outline-maincolor2,
  .btn-outline-maincolor3,
  .btn-outline-maincolor4,
  .btn-outline-maincolor5{
    color: $darkgreyColor;
    &:hover{
      color: $lightColor;
    }
  }
  .btn-darkgrey:hover {
    color: $darkgreyColor;
  }
  .btn-shadow{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
    &:hover{
      box-shadow: 0px 0px 0px 1.5em rgba(0, 0, 0, 0);
      color: $darkgreyColor;
    }
  }

  //social icons
  a.fa {
    color: $lightColor;
    border-color: $colorBorderColor;
  }
  a.bg-icon {
    background-color: rgba($colorBackgroundColor, 0.17);
  }
  .color-icon.bg-icon {
    background-color: rgba($colorBackgroundColor, 0.9);
  }
  a.fa.color-bg-icon:hover {
    background-color: $darkgreyColor;

  }
}