/*
** Main Menu styles
*/
.nav-wrap {
  display: flex;
  //vertical align all nav content (logo, nav, header buttons etc)
  align-items: center;
  justify-content: space-between;

  //header includes that goes right after menu and before top-includes
  & > .top-nav + *:not(.top-includes) {

    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Desktop menu - (min 1200px) styles */
@media(min-width: 1200px) {
  //nav .top-nav - wrapper for ul.nav.sf-menu
  .left{
    .top-nav {
      justify-content: flex-start!important;
    }
  }
  .top-nav {
    position: relative;
    flex-grow: 10;
    flex-wrap: nowrap;

    display: flex;
    align-items: center;

    .justify-nav-end & {
      justify-content: flex-end;
    }

    .justify-nav-center & {
      justify-content: center;
    }
    ul{
      & > li{
        position: relative;

        &:first-child{
          a{
            margin-left: 0;
          }
        }

        &:last-child{
          a{
            margin-right: 0;
          }
        }

        .sf-with-ul{
          position: relative;
          &::after{
            position: relative;
            content: '\f0d7';
            font-family: "Font Awesome 5 Free", sans-serif;
            margin-left: 8px;
            display: inline-block;
            font-weight: bold;
            font-size: 16px;
          }
        }
        ul{
          li{
            .sf-menu-item-mobile-toggler{
              &::before{
                content: none;
              }
            }
          }
        }
      }
    }
  }

  /* menu layout */
  //override .nav - display flex - for correct menuHideExtraElements
  .sf-menu {
    display: block;
  }
  .sf-menu, .sf-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sf-menu li {
    position: relative;
  }
  .sf-menu li{
    &:first-child > ul{
      left: 0;
    }
    & > ul {
      position: absolute;
      display: none;
      top: 100%;
      left: 18px;
      z-index: 99;
    }
  }

  .sf-menu li:hover > ul,
  .sf-menu li.sfHover > ul {
    display: block;
  }

  .sf-menu a {
    display: block;
    position: relative;
  }

  /* menu skin */

  .sf-menu a {
    color: $darkgreyColor;
    padding: 5px 1.1em;
    text-decoration: none;
    text-align: left;
    // /* IE7 */
    zoom: 1;
    transition-property: color, background-color, border-color, padding-top, padding-bottom;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 30px;
  }

  .sf-menu li {
    // /* no need for Supersubs plugin */
    //white-space: nowrap;
    // /* ...unless you support IE7 (let it wrap) */
    *white-space: normal;
  }

  //first level
  .sf-menu > li {
    //inline-block for easy change menu items alignment to right, center or left
    display: inline-block;
    position: relative;
  }

  .sf-menu > li > a {
    //uncomment following if you need border on active and hovered item
    line-height: 14px;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-right: 0;
    padding-left: 0;
    margin: 0 15px;
    transition-duration: 0.15s;

    .affix & {
      padding-top: 38px;
      padding-bottom: 38px;
    }
    @media (min-width: 1500px) {
      margin: 0 20px;
    }
  }

  .sf-menu > li > a:hover,
  .sf-menu > li.active > a {
    //uncomment following if you need border on active and hovered item
    color: $colorMain;
  }

  .nav-narrow {
    .sf-menu > li {
      padding: 0;
    }

    .sf-menu > li > a {
      padding-top: 24px;
      padding-bottom: 24px;
      margin-left: 29px;
      margin-right: 29px;
    }

    .sf-menu > li.active > a {
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        left: -20px;
        right: -20px;
        top: 0;
        z-index: 1;
        background-color: $colorMain;
      }
    }
  }

  .nav-bordered {
    .sf-menu > li + li:before {
      content: '';
      width: 1px;
      position: absolute;
      left: -2px;
      top: 0;
      bottom: 0;
      background-color: $colorBorderColor;
    }
  }
  .cs {
    .sf-menu > li > a {
      color: $lightColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $darkgreyColor;
    }
  }
  .ds {
    .sf-menu > li > a {
      color: $lightColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $colorMain2;
    }

    .sf-menu > li.active,
    .sf-menu > li.sfHover{
      .sf-menu-item-mobile-toggler::before{
        color: $colorMain;
      }
    }

  }
  .ls {
    .sf-menu > li > a {
      color: $darkgreyColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $colorMain;
      &::before{
        color: $colorMain;
      }
    }

    .sf-menu > li + li:before {
      background-color: $borderColor;
    }
  }

  .sf-menu li:hover,
  .sf-menu li.sfHover {
    /* only transition out, not in */
    -webkit-transition: none;
    transition: none;
  }

  /* second and next levels */
  .sf-menu > li .mega-menu,
  .sf-menu li > ul {
    //for animation
    margin-top: -15px!important;
    box-shadow: $boxShadow;
    text-align: center;
    list-style: none;
    padding-top: 38px;
    padding-bottom: 38px;
    background-color: $lightColor;
    min-width: 13.9em; /* allow long menu items to determine submenu width */
    max-width: 13.9em;
    *width: 13.9em; /* no auto sub width for IE7, see white-space comment below */
    li{
      &.mega-menu-col{
        padding: 0;
        & > a{
          border: none;
        }
      }
      padding-right: 48px;
      padding-left: 48px;
      a{
        padding-right: 0;
        padding-left: 0;
        display: block;
      }
    }
  }
  .sf-menu > li .mega-menu{
    max-width: unset;
  }
  .sf-menu > li .mega-menu {
    padding-left: 0;
    padding-right: 0;
  }

  //.nav added to override .ds:not(.btn)
  .sf-menu.nav ul a {

    padding-left: 0;
    padding-right: 0;
    color: $darkgreyColor;
  }
  .sf-menu .mega-menu ul {
    box-shadow: none;
    padding: 0;
    background: transparent;
  }
  .sf-menu .mega-menu ul a {
    padding-left: 0;
    padding-right: 0;
    color: $darkgreyColor;
  }
  .sf-menu ul > li + li:before {
  }
  .sf-menu ul a:hover,
  .sf-menu ul li.active > a {
    color: $colorMain!important;
  }
  /* third level */
  .sf-menu ul ul {
    margin-top: 0;
    //making third level on exact height as second
    top: -23px;
    transform: none;
    margin-left: 2px;
    right: 0;
  }

  // styling for both css and generated arrows
  // uncomment for add arrows for ul with sub-menus
}

.sf-menu i[class] {
  margin-right: 7px;
  font-size: 1.1em;
}

/* hidden menu items */
@media(min-width: 1200px) {
  .sf-menu .sf-xl-hidden {
    display: none !important;
  }
}

@media(max-width: 1199px) {
  .sf-more-li {
    display: none;
  }
}
