/*search modal*/
#search_modal {
  padding: 0 !important;
  .widget {
    margin-top: 40px;
    padding: 20px 0;
    background-color: $lightColor;
  }
  .search-form {
    margin: 0 15px;
  }
  a {
    @include small-text();
    color: $lightColor;
    &:hover {
      color: $colorMain;
      opacity: 1;
    }
  }
  .searchform-respond {
    width: 300px;
    margin: 20px auto;
    color: $lightColor;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    width: 100%;
    max-width: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: darken($darkgreyColor, 50);
    @media (max-width: 575px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .form-control:-moz-placeholder {
    opacity: 1;
    color: darken($darkgreyColor, 50);
  }
  .form-control::-moz-placeholder {
    color: darken($darkgreyColor, 50);
    opacity: 1;
  }

  .form-control:-ms-input-placeholder {
    color: darken($darkgreyColor, 50);
  }

  .form-control::-webkit-input-placeholder {
    color: darken($darkgreyColor, 50);
  }
  button{
    &::before{
      color: $colorMain;
      font-size: 20px;
    }
    @media (max-width: 575px) {
      display: none;
    }
  }
  .btn {
    color: $darkgreyColor;
    width: auto;
    font-size: 0;
    padding: 30px 22px 25px;
    margin: 0 60px 0 0;
    &:before {
      font-size: 18px;
      color: $darkgreyColor;

    }
  }
  .close {
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 18px;
    right: 0;
    min-width: 60px;
    color: $darkgreyColor;
    text-shadow: none;
    opacity: 1;
    z-index: 2;
    font-size: 30px;
  }

  .active-side-header & {
    right: $sideHeaderWidth;
  }
}

.search_modal_button {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 0 0 0 10px;
}