.author-bio-shortcode {
  text-align: center;
  .author-bio-word{
    position: absolute;
    width: 100%;
    top: -50%;
    transform: translateY(-50%);
    font-size: 400px;
    line-height: 400px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -44px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    left: -82px;

    @media (max-width: 1199px) {
      font-size: 220px;
      letter-spacing: normal;
    }

    @media (max-width: 768px) {
      font-size: 120px;
    }

    @media (max-width: 480px) {
      font-size: 80px;
    }
  }
  .bio-text {
    max-width: 580px;
    margin: 0 auto;
  }
  .owl-loaded {
    display: block;
    margin-bottom: 30px;
  }

  .owl-carousel-slider {
    transition: left 0.5s ease;
    position: relative;
    margin-top: 185px;
    transform: translateX(50%);
    @media (max-width: 1199px) {
      margin-top: 110px;
    }
    @media (max-width: 767px) {
      margin-top: 80px;
    }
  }

  .ui-slider-handle{
    display: none;
  }

  .author-bio-flex{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    .year-label {
      transition: color 0.5s ease;
      color: $darkgreyColor;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.2em;
      margin-top: -6px;
      &.active{
        font-weight: bold;
      }
      &:first-child{
        position: relative;
        transform: translateX(-30%);
      }
      &:last-child{
        position: relative;
        transform: translateX(30%);
      }
    }

    &:first-child {
      margin-left: -15px;
      margin-right: -15px;

      span {
        transition: background-color 0.5s ease;
        margin-top: -10px;
        cursor: pointer;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $lightColor;
        border: 2px solid $colorMain;

        &.active {
          background-color: $colorMain;
        }
      }

      & + div {
        margin-left: -1em;
        margin-right: -1em;
        position: relative;
        top: -52px;
      }
    }
  }
}