/*
** Special Heading
*/
.bg-maincolor{
  .special-heading{
    &.underline{
      &:after{
        background-color: #f9b03e;
      }
    }
  }
}
.text-center{
  .special-heading.underline{
    &::after{
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.text-xl-left{
    .special-heading.underline {
      &::after{
        left: 0;
        transform: none;
      }
      @media (max-width: 1199px){
        &::after{
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  &.text-lg-left{
    &::after{
      left: 0;
      transform: none;
    }
    @media (max-width: 991px){
      &::after{
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }
  &.text-md-left{
    .special-heading.underline {
      &::after{
        left: 0;
        transform: none;
      }
      @media (max-width: 767px){
        &::after{
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
.special-heading {
  font-size: 40px;
  line-height: 1.15;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;

  &.above{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: unset;
  }

  p{
    font-size: 16px;
    color: $fontColor;
    line-height: 24px;
    text-transform: initial;
  }

  span{
    display: inline-block;
  }

  &.text-center{
    .underline::after{
      left: 50%;
      transform: translateX(-50%);
    }
    &.text-xl-left{
      .underline::after{
        @media(min-width: 1200px) {
          left: 0;
          transform: none;
        }
      }
    }
    &.text-md-left{
      .underline::after{
        @media(min-width: 992px) {
          left: 0;
          transform: none;
        }
      }
    }
    &.text-md-left{
      .underline::after{
        @media(min-width: 768px) {
          left: 0;
          transform: none;
        }
      }
    }
    &.text-sm-left{
      .underline::after{
        @media(min-width: 575px) {
          left: 0;
          transform: none;
        }
      }
    }

    &.text-xl-right{
      .underline::after{
        @media(min-width: 1200px) {
          right: 0;
          transform: none;
        }
      }
    }
    &.text-md-right{
      .underline::after{
        @media(min-width: 992px) {
          right: 0;
          transform: none;
        }
      }
    }
    &.text-md-right{
      .underline::after{
        @media(min-width: 768px) {
          right: 0;
          transform: none;
        }
      }
    }
    &.text-sm-right{
      .underline::after{
        @media(min-width: 575px) {
          right: 0;
          transform: none;
        }
      }
    }
  }
  &.text-right{
    .underline::after{
      right: 0;
      transform: none;
    }
  }

  &.underline{
    padding-top: 45px;
    padding-bottom: 0;
    &:after{
      content:"";
      background-color: $colorMain;
      width: 40px;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.text-center{
      &::after{
        left: 50%;
        transform: translateX(-50%);
      }
      &.text-xl-left{
        &::after{
          left: 0;
          transform: none;
        }
        @media (max-width: 1199px){
          &::after{
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &.text-lg-left{
        &::after{
          left: 0;
          transform: none;
        }
        @media (max-width: 991px){
          &::after{
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &.text-md-left{
        &::after{
          left: 0;
          transform: none;
        }
        @media (max-width: 767px){
          &::after{
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &.text-sm-left{
        &::after{
          left: 0;
          transform: none;
        }
        @media (max-width: 575px){
          &::after{
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  &.text-lowercase {
    font-size: 62px;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.1;
  }
  &.big,
  &.text-uppercase {
    font-size: 40px;
    line-height: 1;
  }
  &.big {
    margin-top: 0.65em;
    margin-bottom: 0.65em;
  }
  @media (max-width: 991px) {
    &.big,
    &.text-lowercase,
    &.text-uppercase {
      font-size: 30px;
    }
  }

  &.text-center + p {
    text-align: center;
  }

  &.small {
    line-height: 1;
    font-size: 20px;
    letter-spacing: unset;
  }

}
