/*
** Steps
*/

.steps{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .icon-box{
    width: 22%;
    position: relative;

    & + .icon-box{
      &::before{
        position: absolute;
        content: '';
        background: url("../img/step-arrow.png") no-repeat center / contain;
        width: 47px;
        height: 15px;
        display: inline-block;
        left: -50%;
        top: 55%;
      }
    }
  }

  .icon-styled{
    position: relative;
    z-index: 1;
  }

  .step-number{
    position: absolute;
    font-size: 100px;
    font-weight: 900;
    line-height: initial;
    top: -92px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, rgba($colorMain3, .1) 0%, rgba(darken($lightColor, 4%), 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  @media (max-width: 991px) {
    .icon-box{
      width: 100%;
      &:first-child{
        margin-top: 30px;
      }
      + .icon-box{
        margin-top: 90px;
        &::before{
          display: none;
        }
      }
    }
  }
}